html {
  font-size: 10px;
  font-family:  'Nunito','Oswald', sans-serif; 
}

@font-face {
  font-family: 'oswaldregular';
  src: url('oswald-variablefont_wght-webfont.woff2') format('woff2'),
       url('oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitoextralight';
  src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
       url('nunito-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

.category {
  font-family: 'cursive';
  color: white;
  background-color: #E7215A;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 150px;
}

h1 {
  font-family: 'Oswald', 'fantasy';
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  width: 530px;
  line-height: 60px;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
} 

.author span {
  font-family: 'Oswald', 'fantasy';
  color: #E7215A;
  font-weight: bold;
}

.author {
  font-size: 15px;
  text-align: center;
  position: relative;
}

.author::before { 
  position: absolute;  
  content: "";
  border-bottom: 2px dashed #7e7e7e;
  width: 350px;
  left: 0;
  top: 50%;
}

.author::after { 
  position: absolute;  
  content: "";
  border-bottom: 2px dashed #7e7e7e;
  width: 350px;
  right: 0;
  top: 50%;
}

.article-content {
  overflow: auto;
}

.caption-pictures {
  color: #706F6F;
  font-family: 'Oswald', 'fantasy';
  font-size: 10px;
  padding-left: 15px;
}

.caption-pictures::before { 
  position: absolute;  
  content: "";
  border-radius: 1px;
  width: 8px;
  height: 8px;
  background-color: #E7215A;
  top: 4px;
  left: 0px;
}

.image-container:first-child { 
  border-bottom: 1px dashed;
  padding-bottom: 15px;
}

h3 {
  font-family: 'Oswald', 'fantasy';
  font-size: 20px;
  text-align: left;
}

ul {
  padding-left: 15px;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
}

li {
  position: relative;
  margin-top: 20px;
  list-style-type: none;
}

 li::before { 
  position: absolute;  
  content: "";
  border-radius: 1px;
  width: 8px;
  height: 8px;
  background-color: #E7215A;
  top: 9px;
  left: -15px;
}

.editor-note::first-letter {
  font-family: 'Oswald', system-ui;
  float: left;
  font-weight: bold;
  font-size: 28px;
  padding-right: 13px;
  padding-left: 13px;
  color: #E7215A;
  background-color: black;
  margin-right: 10px;
}

.column {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 15px;
}

.column:first-child {
  padding: 0 15px 0 0;
}

.column:last-child {
  padding: 0 0 0 15px;
}

.column:nth-child(2) {
  border-right: 1px dashed #7e7e7e; 
  border-left: 1px dashed #7e7e7e;
}

.footer {
  font-size: 15px;
}

.footer span {
  margin-right: 15px;
}
